body{
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.7;
    color: rgb(160, 160, 165);
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700 !important;
    color: #092032;
}
a{
    
    text-decoration:none;
 }

img{
    width: 100%;
}
.top-nav{
    padding-top: 14px;
    padding-bottom:8px;
    background: #fe7a36;
}

.top-nav p{
    color:white ;
    margin-bottom: 0;
     display: inline-block; 
    margin-right: 20px;

}
.social-links a{
     width: 80px;
    height: 50px;
    font-size: 20px;
    padding-right: 13px;  
    color: white; 
}
.social-links a:hover{
   
    font-size: 24px;
   background-color: rgb(178, 218, 32);
}
.navbar{
    box-shadow: 1px 6px 30px rgba(32, 32, 32,0.2);
}
.navbar-brand{
    font-weight: 700;
    color: rgb(48, 38, 38);
}
#contact{
    width: 100px;
    border: none;
}
#contact:hover{
    background-color:palevioletred;
    border: 1px groove rgb(216, 183, 112);
}
.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:active{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: blue;

}

.carousel-item{
    height: 32rem;
    color: white;
    position: relative;
}
.container1{
    padding-top: 260px;
    position: absolute;
    bottom: 0;
   left: 0;
    right: 0;
    padding-bottom: 60px;
    
}
.intro{
    margin-bottom: 40px;
}
.intro h6{
    font-weight: 400;
    color: #fe7a36;
}
.intro p{
    margin: auto;
    max-width: 500px;
}
h3{
    color: gold;
}
#contact {
    background-color: #f77635ef;
}
.container1 h3{
    color: gold;
    font-size: 50px;
}
.container1 p{
    color: #fecf36;
    font-size: 30px;
}
.carousel-control-next-icon,.carousel-control-prev-icon{
    
    background-color: rgb(255, 174, 0);
}
#caros1{
    background-image: url(/image/soft3.png);
    height: 32rem;
    background-attachment: fixd;
    background-size: cover;

}
#caros2{
    background-image: url(/image/alesia-kaz-XLm6-fPwK5Q-unsplash.jpg);
    height: 32rem;
    background-attachment: fixd;
    background-size: cover;

}
#caros3{
    background-image: url(/image/soft1.png);
    height: 32rem;
    background-attachment: fixd;
    background-size: cover;

}


#caros4{
    background-image: url(/image/brooke-cagle--uHVRvDr7pg-unsplash.jpg);
    height: 32rem;
    background-attachment: fixd;
    background-size: cover;

}
 #caros5{
    background-image: url(/image/coding.jpg);
    height: 32rem;
    background-attachment: fixd;
    background-size: cover;

}

section{
    padding-top: 80px;
    padding-bottom: 80px;
    box-shadow: 1px 6px 24px rgba(32, 32, 32,0.2);

    
}
.info-box{
    box-shadow: 1px 6px 24px rgba(32, 32, 32,0.1);
    display: flex;
    width: 300px;
}
.info-box img{
    /* box-shadow: 1px 6px 12px rgba(32, 32, 32,0.3); */
    width:90px;
    /* border-radius: 50%; */
    margin-bottom: 50px;
    margin-right: 28px;
    
}
#image{
    height: auto;
    border: 14px groove #111010;
    border-radius: 80%;
    width: 260px;
    margin-left: 28px;
}
/* mailstone */
#milestone{
    background: linear-gradient(rgba(231, 88, 5, 0.8), rgba(230, 97, 8, 0.8)), url(/image/coding.jpg);
background-size: cover;
    
    color: white;
    padding: 80px 1px;
    

}
#milestone .display-4{
    font-weight:700;
}
/* srervices
 */
 #services{
    padding: 32px;
    box-shadow: 1px 6px 30px rgba(32, 32, 32,0.2);
text-align: center;


 }
 .service-box{
    box-shadow: 1px 6px 30px rgba(32, 32, 32,0.2);

 }
 .service-box h5{
    margin-top: 24px;
    margin-bottom: 12px;

 }
 .service-box img{
    width: 100px;
 }
.text{
    padding-top: 110px;
    color: whight;
}
.team-member{
    text-align: center;
        box-shadow: 1px 6px 12px rgba(32, 32, 32,0.2);

}

.team-member .imag-wrapper {
    position: relative;
    overflow: hidden;
}


.team-member .overlay{
    position: absolute;
    top: -10;
left: 0;
width: 100%;
height: 100%;
transition: all 0.4s ease;
opacity: 0;
background-color: rgba(6, 7, 7, 0.932);
}
.team-member .social-link{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
    opacity: 0;

}
.team-member:hover .overlay{
    opacity:0.5;
    top: 0;
}
.team-member:hover .social-link{
    opacity: 1;
    top: 50%;
}
.team-member h5{
    margin-top: 24px;
}
footer{
    padding-top: 88px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
    background-color: #092032;
    background: linear-gradient(rgba(9, 32, 50, 0.8), rgba(9, 32, 50, 0.8)), url(/image/footer.jpg);
background-attachment: inherit;
background-size: cover;


}
footer h3{
    color: white;
    margin-bottom: 28px;
    display: inline-block;
}
.footer-top{
margin-bottom:48px ;
}
.footer-bottom{
    border: 1px solid rgba(255, 255, 255, 0.08);
    padding-top: 20px;
}














